%btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  background: transparent;
  color: $font-color;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid $font-color;
}

.btn-primary {
  @extend %btn;
}

.btn-secondary {
  @extend %btn;
  color: #fff;
  border: 1px solid #fff;
}